{% macro plugin(name) -%}
  source ~/.zplug/repos/{{ name }}
  {% for arg in args %}
    {% if arg is string %}
{% include arg %}{# insert new line after 'include' #}

    {% else %}
      {% for s in arg %}
{% include s %}{# insert new line after 'include' #}

      {% endfor %}
    {% endif %}
  {% endfor %}
{%- endmacro %}
